n8n-workflow.json
{
  "name": "BrokerDesk — WhatsApp Alerts via Z-API",
  "nodes": [
    {
      "id": "wh-trigger",
      "name": "Webhook BrokerDesk",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 440],
      "webhookId": "brokerdesk-main",
      "parameters": {
        "httpMethod": "POST",
        "path": "brokerdesk",
        "responseMode": "immediateResponse",
        "options": {
          "responseCode": 200,
          "responseData": ""
        }
      }
    },
    {
      "id": "sw-router",
      "name": "Roteador de Eventos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 440],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "r1", "leftValue": "={{ $json.event }}", "rightValue": "ticket_created", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "Novo Ticket"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "r2", "leftValue": "={{ $json.event }}", "rightValue": "ticket_resolved", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "Ticket Resolvido"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "r3", "leftValue": "={{ $json.event }}", "rightValue": "routine_task_completed", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "Tarefa Concluída"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "r4", "leftValue": "={{ $json.event }}", "rightValue": "admin_notification", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "Notificação Admin"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "r5", "leftValue": "={{ $json.event }}", "rightValue": "overdue_check", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "Tickets Atrasados"
            }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-ticket-created",
      "name": "Novo Ticket — Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200],
      "parameters": {
        "jsCode": "// ⚙️ CONFIGURAÇÃO — preencha seu número (secundário)\nconst ADMIN_PHONE = '5511999999999'; // ← SEU NÚMERO\n\nconst d = $input.first().json;\nconst t = d.ticket;\nconst pEmoji = { Urgente: '🚨', Alta: '⚠️', Média: '📋', Baixa: '📝' }[t.priority] || '📋';\nconst devTag = t.is_dev ? '\\n🛠️ *Tipo:* Demandas Tech' : '';\n\nconst message =\n  `🎫 *Novo Ticket — BrokerDesk*\\n\\n` +\n  `${pEmoji} *Prioridade:* ${t.priority}\\n` +\n  `🏢 *Broker:* ${t.broker}\\n` +\n  `📋 *Título:* ${t.title}\\n` +\n  `👤 *Aberto por:* ${t.created_by}` +\n  devTag +\n  `\\n\\n🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn [{ json: { phone: ADMIN_PHONE, message } }];"
      }
    },
    {
      "id": "http-ticket-created",
      "name": "Novo Ticket — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCE_ID/token/SEU_TOKEN/send-text",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-ticket-resolved",
      "name": "Ticket Resolvido — Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 360],
      "parameters": {
        "jsCode": "// ⚙️ CONFIGURAÇÃO — preencha seu número (secundário)\nconst ADMIN_PHONE = '5511999999999'; // ← SEU NÚMERO\n\nconst d = $input.first().json;\nconst t = d.ticket;\n\nconst message =\n  `✅ *Ticket Resolvido — BrokerDesk*\\n\\n` +\n  `🏢 *Broker:* ${t.broker}\\n` +\n  `📋 *Título:* ${t.title}\\n` +\n  `👤 *Resolvido por:* ${t.resolved_by || 'Operador'}\\n\\n` +\n  `🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn [{ json: { phone: ADMIN_PHONE, message } }];"
      }
    },
    {
      "id": "http-ticket-resolved",
      "name": "Ticket Resolvido — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 360],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCE_ID/token/SEU_TOKEN/send-text",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-routine-completed",
      "name": "Tarefa Concluída — Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 520],
      "parameters": {
        "jsCode": "// ⚙️ CONFIGURAÇÃO — preencha seu número (secundário)\nconst ADMIN_PHONE = '5511999999999'; // ← SEU NÚMERO\n\nconst d = $input.first().json;\nconst task = d.task;\nconst cat = { manha: '🌅 Manhã', tarde: '🌇 Tarde', custom: '📌 Extra' }[task.category] || task.category;\n\nconst message =\n  `☑️ *Tarefa de Rotina Concluída — BrokerDesk*\\n\\n` +\n  `📋 *Tarefa:* ${task.title}\\n` +\n  `🗂️ *Período:* ${cat}\\n` +\n  `👤 *Operador:* ${task.completed_by || 'Operador'}\\n\\n` +\n  `🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn [{ json: { phone: ADMIN_PHONE, message } }];"
      }
    },
    {
      "id": "http-routine-completed",
      "name": "Tarefa Concluída — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 520],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCE_ID/token/SEU_TOKEN/send-text",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-admin-notif",
      "name": "Notificação Admin — Formatar e Dividir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 680],
      "parameters": {
        "jsCode": "// ⚙️ CONFIGURAÇÃO — adicione os números dos operadores\nconst OPERATOR_PHONES = [\n  '5511999999999', // Operador 1\n  '5511888888888', // Operador 2\n  // adicione mais...\n];\n\nconst d = $input.first().json;\nconst notif = d.notification;\nconst emojis = { info: 'ℹ️', success: '✅', warning: '⚠️', error: '🚨' };\nconst emoji = emojis[notif.type] || 'ℹ️';\n\nconst message =\n  `${emoji} *BrokerDesk — ${notif.title}*\\n\\n` +\n  `${notif.message}\\n\\n` +\n  `🕐 ${new Date().toLocaleString('pt-BR')}`;\n\n// Retorna um item por operador → o nó seguinte executa uma vez por item\nreturn OPERATOR_PHONES.map(phone => ({ json: { phone, message } }));"
      }
    },
    {
      "id": "http-admin-notif",
      "name": "Notificação Admin — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 680],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCE_ID/token/SEU_TOKEN/send-text",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-overdue",
      "name": "Tickets Atrasados — Formatar e Dividir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 840],
      "parameters": {
        "jsCode": "// ⚙️ CONFIGURAÇÃO — adicione os números dos operadores\nconst OPERATOR_PHONES = [\n  '5511999999999', // Operador 1\n  '5511888888888', // Operador 2\n  // adicione mais...\n];\n\nconst d = $input.first().json;\nconst tickets = d.tickets || [];\n\nif (tickets.length === 0) return [];\n\nconst lines = tickets.map(t =>\n  `• *${t.broker}* — ${t.titulo}\\n  📅 Criado: ${new Date(t.data_criacao).toLocaleDateString('pt-BR')} (${t.dias_em_aberto} dia${t.dias_em_aberto > 1 ? 's' : ''} em aberto)`\n).join('\\n\\n');\n\nconst message =\n  `🚨 *BrokerDesk — Demandas Atrasadas*\\n\\n` +\n  `${tickets.length} ticket${tickets.length > 1 ? 's' : ''} pendente${tickets.length > 1 ? 's' : ''} há mais de 3 dias:\\n\\n` +\n  lines +\n  `\\n\\n⚠️ Ação necessária!\\n🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn OPERATOR_PHONES.map(phone => ({ json: { phone, message } }));"
      }
    },
    {
      "id": "http-overdue",
      "name": "Tickets Atrasados — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 840],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCE_ID/token/SEU_TOKEN/send-text",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "sched-daily",
      "name": "Rotina Diária — 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 900],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }]
        }
      }
    },
    {
      "id": "http-supabase-tickets",
      "name": "Buscar Tickets Pendentes — Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 900],
      "parameters": {
        "method": "GET",
        "url": "https://SUA_SUPABASE_URL/rest/v1/tickets?status=in.(\"Pendente\",\"Em Andamento\")&order=created_at.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUA_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer SUA_SUPABASE_ANON_KEY" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-daily-summary",
      "name": "Formatar Resumo Diário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 900],
      "parameters": {
        "jsCode": "// ⚙️ CONFIGURAÇÃO — adicione os números dos operadores\nconst OPERATOR_PHONES = [\n  '5511999999999', // Operador 1\n  '5511888888888', // Operador 2\n  // adicione mais...\n];\n\nconst tickets = $input.all().map(i => i.json);\nconst pending = tickets.filter(t => t.status === 'Pendente');\nconst inProgress = tickets.filter(t => t.status === 'Em Andamento');\nconst urgent = tickets.filter(t => t.priority === 'Urgente');\n\nconst uniqueBrokers = [...new Set(pending.map(t => t.broker_nome || t.broker))];\nconst brokerList = uniqueBrokers.length > 0\n  ? uniqueBrokers.map(b => `• ${b}`).join('\\n')\n  : '✅ Nenhuma pendência!';\n\nconst today = new Date().toLocaleDateString('pt-BR', {\n  weekday: 'long', day: 'numeric', month: 'long'\n});\n\nconst message =\n  `📋 *BrokerDesk — Rotina do Dia*\\n\\n` +\n  `📅 ${today}\\n\\n` +\n  `⏳ *Pendentes:* ${pending.length}\\n` +\n  `▶️ *Em Andamento:* ${inProgress.length}\\n` +\n  `🚨 *Urgentes:* ${urgent.length}\\n\\n` +\n  `🔴 *Brokers com pendências:*\\n${brokerList}\\n\\n` +\n  `Bom trabalho, equipe! 💪`;\n\nreturn OPERATOR_PHONES.map(phone => ({ json: { phone, message } }));"
      }
    },
    {
      "id": "http-daily-send",
      "name": "Resumo Diário — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 900],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCE_ID/token/SEU_TOKEN/send-text",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    }
  ],

  "connections": {
    "Webhook BrokerDesk": {
      "main": [[{ "node": "Roteador de Eventos", "type": "main", "index": 0 }]]
    },
    "Roteador de Eventos": {
      "main": [
        [{ "node": "Novo Ticket — Formatar", "type": "main", "index": 0 }],
        [{ "node": "Ticket Resolvido — Formatar", "type": "main", "index": 0 }],
        [{ "node": "Tarefa Concluída — Formatar", "type": "main", "index": 0 }],
        [{ "node": "Notificação Admin — Formatar e Dividir", "type": "main", "index": 0 }],
        [{ "node": "Tickets Atrasados — Formatar e Dividir", "type": "main", "index": 0 }]
      ]
    },
    "Novo Ticket — Formatar": {
      "main": [[{ "node": "Novo Ticket — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Ticket Resolvido — Formatar": {
      "main": [[{ "node": "Ticket Resolvido — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Tarefa Concluída — Formatar": {
      "main": [[{ "node": "Tarefa Concluída — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Notificação Admin — Formatar e Dividir": {
      "main": [[{ "node": "Notificação Admin — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Tickets Atrasados — Formatar e Dividir": {
      "main": [[{ "node": "Tickets Atrasados — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Rotina Diária — 08:00": {
      "main": [[{ "node": "Buscar Tickets Pendentes — Supabase", "type": "main", "index": 0 }]]
    },
    "Buscar Tickets Pendentes — Supabase": {
      "main": [[{ "node": "Formatar Resumo Diário", "type": "main", "index": 0 }]]
    },
    "Formatar Resumo Diário": {
      "main": [[{ "node": "Resumo Diário — Enviar WhatsApp", "type": "main", "index": 0 }]]
    }
  },

  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [],
  "meta": { "instanceId": "brokerdesk" }
}
