n8n-workflow.json
{
  "name": "BrokerDesk — WhatsApp Alerts via Z-API",
  "nodes": [
    {
      "id": "wh-trigger",
      "name": "Webhook BrokerDesk",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500],
      "parameters": {
        "httpMethod": "POST",
        "path": "brokerdesk",
        "responseMode": "onReceived",
        "options": {}
      }
    },

    {
      "id": "code-ticket-created",
      "name": "Novo Ticket — Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [520, 200],
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\nif (d.event !== 'ticket_created') return [];\n\nconst ADMIN_PHONE = '573126402098';\nconst t = d.ticket;\nconst pEmoji = { Urgente: '🚨', Alta: '⚠️', Média: '📋', Baixa: '📝' }[t.priority] || '📋';\nconst devTag = t.is_dev ? '\\n🛠️ *Tipo:* Demandas Tech' : '';\n\nconst message =\n  `🎫 *Novo Ticket — BrokerDesk*\\n\\n` +\n  `${pEmoji} *Prioridade:* ${t.priority}\\n` +\n  `🏢 *Broker:* ${t.broker}\\n` +\n  `📋 *Título:* ${t.title}\\n` +\n  `👤 *Aberto por:* ${t.created_by}` +\n  devTag +\n  `\\n\\n🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn [{ json: { phone: ADMIN_PHONE, message } }];"
      }
    },
    {
      "id": "http-ticket-created",
      "name": "Novo Ticket — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F1E76CBFC5FE12CD723BA4D31290A14/token/AD90D2009568787D0FE65CED/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-ticket-resolved",
      "name": "Ticket Resolvido — Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [520, 360],
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\nif (d.event !== 'ticket_resolved') return [];\n\nconst ADMIN_PHONE = '573126402098';\nconst t = d.ticket;\n\nconst message =\n  `✅ *Ticket Resolvido — BrokerDesk*\\n\\n` +\n  `🏢 *Broker:* ${t.broker}\\n` +\n  `📋 *Título:* ${t.title}\\n` +\n  `👤 *Resolvido por:* ${t.resolved_by || 'Operador'}\\n\\n` +\n  `🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn [{ json: { phone: ADMIN_PHONE, message } }];"
      }
    },
    {
      "id": "http-ticket-resolved",
      "name": "Ticket Resolvido — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 360],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F1E76CBFC5FE12CD723BA4D31290A14/token/AD90D2009568787D0FE65CED/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-routine-completed",
      "name": "Tarefa Concluída — Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [520, 520],
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\nif (d.event !== 'routine_task_completed') return [];\n\nconst ADMIN_PHONE = '573126402098';\nconst task = d.task;\nconst cat = { manha: '🌅 Manhã', tarde: '🌇 Tarde', custom: '📌 Extra' }[task.category] || task.category;\n\nconst message =\n  `☑️ *Tarefa de Rotina Concluída — BrokerDesk*\\n\\n` +\n  `📋 *Tarefa:* ${task.title}\\n` +\n  `🗂️ *Período:* ${cat}\\n` +\n  `👤 *Operador:* ${task.completed_by || 'Operador'}\\n\\n` +\n  `🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn [{ json: { phone: ADMIN_PHONE, message } }];"
      }
    },
    {
      "id": "http-routine-completed",
      "name": "Tarefa Concluída — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 520],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F1E76CBFC5FE12CD723BA4D31290A14/token/AD90D2009568787D0FE65CED/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-admin-notif",
      "name": "Notificação Admin — Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [520, 680],
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\nif (d.event !== 'admin_notification') return [];\n\nconst OPERATOR_PHONES = ['5512981963736', '5512982871400', '573126402098'];\nconst notif = d.notification;\nconst emojis = { info: 'ℹ️', success: '✅', warning: '⚠️', error: '🚨' };\nconst emoji = emojis[notif.type] || 'ℹ️';\n\nconst message =\n  `${emoji} *BrokerDesk — ${notif.title}*\\n\\n` +\n  `${notif.message}\\n\\n` +\n  `🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn OPERATOR_PHONES.map(phone => ({ json: { phone, message } }));"
      }
    },
    {
      "id": "http-admin-notif",
      "name": "Notificação Admin — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 680],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F1E76CBFC5FE12CD723BA4D31290A14/token/AD90D2009568787D0FE65CED/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "code-overdue",
      "name": "Tickets Atrasados — Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [520, 840],
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\nif (d.event !== 'overdue_check' || !d.tickets || d.tickets.length === 0) return [];\n\nconst OPERATOR_PHONES = ['5512981963736', '5512982871400', '573126402098'];\n\nconst lines = d.tickets.map(t =>\n  `• *${t.broker}* — ${t.titulo}\\n  📅 Criado: ${new Date(t.data_criacao).toLocaleDateString('pt-BR')} (${t.dias_em_aberto} dia${t.dias_em_aberto > 1 ? 's' : ''} em aberto)`\n).join('\\n\\n');\n\nconst message =\n  `🚨 *BrokerDesk — Demandas Atrasadas*\\n\\n` +\n  `${d.tickets.length} ticket${d.tickets.length > 1 ? 's' : ''} pendente${d.tickets.length > 1 ? 's' : ''} há mais de 3 dias:\\n\\n` +\n  lines +\n  `\\n\\n⚠️ Ação necessária!\\n🕐 ${new Date().toLocaleString('pt-BR')}`;\n\nreturn OPERATOR_PHONES.map(phone => ({ json: { phone, message } }));"
      }
    },
    {
      "id": "http-overdue",
      "name": "Tickets Atrasados — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 840],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F1E76CBFC5FE12CD723BA4D31290A14/token/AD90D2009568787D0FE65CED/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "sched-daily",
      "name": "Rotina Diária — 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 1060],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }]
        }
      }
    },
    {
      "id": "http-supabase-tickets",
      "name": "Buscar Tickets Pendentes — Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [520, 1060],
      "parameters": {
        "method": "GET",
        "url": "https://aybxefkcxqcsesoyeebu.supabase.co/rest/v1/tickets?status=in.(\"Pendente\",\"Em Andamento\")&order=created_at.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5YnhlZmtjeHFjc2Vzb3llZWJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjY4NjgsImV4cCI6MjA5MTk0Mjg2OH0.Z8uCuwKtMpMYapEtoWlKri6fsx6JWeljWZFdnC_lfOo" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5YnhlZmtjeHFjc2Vzb3llZWJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjY4NjgsImV4cCI6MjA5MTk0Mjg2OH0.Z8uCuwKtMpMYapEtoWlKri6fsx6JWeljWZFdnC_lfOo" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-daily-summary",
      "name": "Formatar Resumo Diário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [800, 1060],
      "parameters": {
        "jsCode": "const OPERATOR_PHONES = ['5512981963736', '5512982871400', '573126402098'];\n\nconst tickets = $input.all().map(i => i.json);\nconst pending = tickets.filter(t => t.status === 'Pendente');\nconst inProgress = tickets.filter(t => t.status === 'Em Andamento');\nconst urgent = tickets.filter(t => t.priority === 'Urgente');\n\nconst uniqueBrokers = [...new Set(pending.map(t => t.broker_nome || t.broker))];\nconst brokerList = uniqueBrokers.length > 0\n  ? uniqueBrokers.map(b => `• ${b}`).join('\\n')\n  : '✅ Nenhuma pendência!';\n\nconst today = new Date().toLocaleDateString('pt-BR', { weekday: 'long', day: 'numeric', month: 'long' });\n\nconst message =\n  `📋 *BrokerDesk — Rotina do Dia*\\n\\n` +\n  `📅 ${today}\\n\\n` +\n  `⏳ *Pendentes:* ${pending.length}\\n` +\n  `▶️ *Em Andamento:* ${inProgress.length}\\n` +\n  `🚨 *Urgentes:* ${urgent.length}\\n\\n` +\n  `🔴 *Brokers com pendências:*\\n${brokerList}\\n\\n` +\n  `Bom trabalho, equipe! 💪`;\n\nreturn OPERATOR_PHONES.map(phone => ({ json: { phone, message } }));"
      }
    },
    {
      "id": "http-daily-send",
      "name": "Resumo Diário — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1080, 1060],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F1E76CBFC5FE12CD723BA4D31290A14/token/AD90D2009568787D0FE65CED/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      }
    }
  ],

  "connections": {
    "Webhook BrokerDesk": {
      "main": [[
        { "node": "Novo Ticket — Formatar", "type": "main", "index": 0 },
        { "node": "Ticket Resolvido — Formatar", "type": "main", "index": 0 },
        { "node": "Tarefa Concluída — Formatar", "type": "main", "index": 0 },
        { "node": "Notificação Admin — Formatar", "type": "main", "index": 0 },
        { "node": "Tickets Atrasados — Formatar", "type": "main", "index": 0 }
      ]]
    },
    "Novo Ticket — Formatar": {
      "main": [[{ "node": "Novo Ticket — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Ticket Resolvido — Formatar": {
      "main": [[{ "node": "Ticket Resolvido — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Tarefa Concluída — Formatar": {
      "main": [[{ "node": "Tarefa Concluída — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Notificação Admin — Formatar": {
      "main": [[{ "node": "Notificação Admin — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Tickets Atrasados — Formatar": {
      "main": [[{ "node": "Tickets Atrasados — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Rotina Diária — 08:00": {
      "main": [[{ "node": "Buscar Tickets Pendentes — Supabase", "type": "main", "index": 0 }]]
    },
    "Buscar Tickets Pendentes — Supabase": {
      "main": [[{ "node": "Formatar Resumo Diário", "type": "main", "index": 0 }]]
    },
    "Formatar Resumo Diário": {
      "main": [[{ "node": "Resumo Diário — Enviar WhatsApp", "type": "main", "index": 0 }]]
    }
  },

  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [],
  "meta": { "instanceId": "brokerdesk" }
}
